.bgTopLeft,
.bgBottomRight {
    background-image: url("../../assets/bards.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-clip: content-box;
}

.bgTopLeft {
    background-position: left top;
}

.bgBottomRight {
    background-position: bottom right;
}
.Guide-container {
    background-color: #111;
}