.Guide-container {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh"><image x="0" y="0" width="100" height="100" href="tu_imagen.jpg" transform="rotate(45, 0, 0)"/><image x="100%" y="100%" width="100" height="100" href="tu_imagen.jpg" transform="rotate(-45, 100, 100)" style="transform-origin: bottom right;"/></svg>') no-repeat center center fixed;
    position: relative;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.Guide-text {
    padding-top: 2%;
    padding-bottom: 2%;
}
.Guide-text b {
    background: #7E35E4;
    background: linear-gradient(top, #7E35E4 0%, #54267D 100%);
    -webkit-background-clip: text; /*not necessarily supported*/
    color: transparent;
}

.Guide-cards {
    padding-top: 2%;
}

.imageLeftBard {
    position: absolute;
    top: 4%;
    left:10%;
    transform: translateX(-65%);
}

.imageRightBard {
    position: absolute;
    bottom: 4%;
    right: 4%;
    transform: translateX(10%) translateY(10%);
}

@media (max-width: 991px) {
    .imageLeftBard img {
        width: 70%;
        height: 70%;
    }
    .imageRightBard img {
        width: 70%;
        height: 70%;
    }
    .imageLeftBard {
        top: 7%;
        left:14%;
    }
    .imageRightBard {
        bottom: 7%;
        right: -1%;
    }
}

@media (max-width: 767px) {
    .imageLeftBard {
        top: 4%;
        left:16%;
    }
    .imageRightBard {
        bottom: 2%;
        right: -2%;
    }
    .Guide-cards {
        padding-top: 22%;
    }
}

@media (max-width: 575px) {
    .imageLeftBard img {
        width: 40%;
        height: 40%;
    }
    .imageRightBard img {
        width: 40%;
        height: 40%;
    }
    .imageLeftBard {
        left:30%;
    }
    .imageRightBard {
        right: -16%;
    }
}