.navbar {
    background: #000;
}
.navbar-light .navbar-brand {
    width: 18%;
    padding-left: 8%;
}

.navbar-light .navbar-toggler {
    color: #fff;
}

.navbar-light .nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 3px solid #54267D;
}