.About-container {
    background-color: #111;
    height: 100vh;
}

.About-container b {
    background: #7E35E4;
    -webkit-background-clip: text; /* no necesariamente compatible */
    color: transparent;
}

.about-text {
    background: #54267D;
    font-size: 1.4rem;
    padding: 4%;
    padding-right: 22%;
}

.about-image img {
    max-height: 450px;
    max-width: 450px;
    height: auto;
    width: auto;
    margin: -6%;
    margin-left: -52%;
}