.About-container {
    background-color: /*#111*/ yellowgreen;
    height: 100vh;
}

.About-container b {
    background: #7E35E4;
    -webkit-background-clip: text; /* no necesariamente compatible */
    color: transparent;
}

.about-text {
    background: #54267D;
    font-size: 1.2rem;
    overflow: auto;
}

.about-image img {
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
    margin: -10%;
    margin-left: -36%;
}

@media (max-width: 767px) {
    .about-image img {
        min-height: 90%;
        min-width: 90%;
        margin: 80%;
        margin-left: 70%;
    }
}

@media (max-width: 575px) {
    .hero_left {
        margin: 0 3%;
    }
    .btn {
        margin-bottom: 5%;
    }
}