.About-container {
    background-color: #111;
    height: 100vh;
}

.About-container b {
    background: #7E35E4;
    -webkit-background-clip: text;
    /* no necesariamente compatible */
    color: transparent;
}

.about-text {
    background: linear-gradient(to top, #54267D 0%, #7E35E4 30%, #111 100%);
    font-size: 1.4rem;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.About-image {
    display: none;
}

@media screen and (min-width: 992px) {

    /* 
    Styles for high-resolution displays go here
    @see https://getbootstrap.com/docs/5.0/layout/breakpoints/ 
    */
    .About-image {
        display: block;
        margin: -30px -8% -30px 30px;
    }
}

/* .about-text p {
    padding: 2% 16% 2% 2%;
} */

/* .about-image img {
    position: absolute;
    width: 30%;
    margin: -10%;
    left: 48%;
    top: 24%;
    transform: translateX(76%);
} */

/* @media (max-width: 1200px) {
    .about-image img {
        width: 40%;
        left: 44%;
        margin: -12%;
        transform: translateX(68%);
    }
}
@media (max-width: 991px) {
    .about-text {
        font-size: 1.1rem;
    }
    .about-text p {
        padding: 2% 18% 2% 2%;
    }
    .about-image img {
        left: 44%;
        margin: -12%;
        transform: translateX(78%);
    }
}
@media (max-width: 767px) {
    .about-text {
        font-size: 1.0rem;
    }
    .about-text p {
        padding: 3% 24% 3% 1%;
    }
    .about-image img {
        width: 42%;
        left: 42%;
        margin: -18%;
        transform: translateX(80%);
    }
}
@media (max-width: 575px) {
    .about-text {
        font-size: 1.1rem;
    }
    .about-image img {
        display: none;
        width: 62%;
        left: 31%;
        margin: -18%;
    }
} */