.Contact-container .contact-title {
    background: #7E35E4;
    background: linear-gradient(top, #7E35E4 0%, #54267D 100%);
    -webkit-background-clip: text; /* no necesariamente compatible */
    color: transparent;
}
.Contact-container .form-group input {
    background-color: #000;
    outline-color: #54267D;
}
.Contact-container .form-control::placeholder {
    color: #d8d8d8;
    font-family: 'Montserrat';
}
.btn-container .custom-button {
    background: #7E35E4;
    background: linear-gradient(top, #7E35E4 0%, #54267D 100%);
    border-bottom: #54267D;
    color: #fff;
}

.btn-container .custom-button:hover {
    background: #fff;
    color:  #54267D;
}
/*.Contact-container {
    min-height: 70vh;
}*/