.footer {
    background-color: #111;
}
.wavy-container {
    position: relative;
    width: 100%;
    min-height: ;
}

.wave svg {
    bottom: 0;
    left: 0;
    fill: #54267d;
    z-index: 1;
}

.wave {
    background-image: url(http://www.w3.org/2000/svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-contact {
    position: absolute;
    width: 44%;
    bottom: 10%;
    left: 30%;
    z-index: 5;
    font-size: 1.2rem;
}

.footer-contact img {
    max-height: 120px;
    max-width: 120px;
}
.footer-contact-col span {
    display: inline-block;
    vertical-align: auto;
    padding-left: 2%;
}