.footer {
    background-color: #111;
}
.wavy-container {
    width: 100%;
    min-height: 300px;
}

.wave {
    position: relative;
}

.wave svg {
    position: relative;
    bottom: 0;
    left: 0;
    fill: #54267d;
}

.footer-contact {
    margin-top: -30%;
    margin-left: 15%;
}
